### Segmenting and Clustering Neighborhoods in Toronto

#### Importing Libraries

In [166]:
from bs4 import BeautifulSoup
import requests   # library to handle requests
import lxml       # parse the website in lxml format
import numpy as np
import pandas as pd

#### Scraping website using Beautiful Soup

In [167]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source, 'lxml')
table = soup.find('table', class_='wikitable sortable')
# print(table.prettify())

#### Getting Table Values

In [168]:
table1 = ""
for tr in table.find_all('tr'):
    row = ""
    for tds in tr.find_all('td'):
        row = row + " " + tds.text
    table1 = table1 + row[1:]
print(table1)

M1A
 Not assigned
 Not assigned
M2A
 Not assigned
 Not assigned
M3A
 North York
 Parkwoods
M4A
 North York
 Victoria Village
M5A
 Downtown Toronto
 Regent Park, Harbourfront
M6A
 North York
 Lawrence Manor, Lawrence Heights
M7A
 Downtown Toronto
 Queen's Park, Ontario Provincial Government
M8A
 Not assigned
 Not assigned
M9A
 Etobicoke
 Islington Avenue, Humber Valley Village
M1B
 Scarborough
 Malvern, Rouge
M2B
 Not assigned
 Not assigned
M3B
 North York
 Don Mills
M4B
 East York
 Parkview Hill, Woodbine Gardens
M5B
 Downtown Toronto
 Garden District, Ryerson
M6B
 North York
 Glencairn
M7B
 Not assigned
 Not assigned
M8B
 Not assigned
 Not assigned
M9B
 Etobicoke
 West Deane Park, Princess Gardens, Martin Grove, Islington, Cloverdale
M1C
 Scarborough
 Rouge Hill, Port Union, Highland Creek
M2C
 Not assigned
 Not assigned
M3C
 North York
 Don Mills
M4C
 East York
 Woodbine Heights
M5C
 Downtown Toronto
 St. James Town
M6C
 York
 Humewood-Cedarvale
M7C
 Not assigned
 Not assigned
M8C
 Not assigned
 Not assigned
M9C
 Etobicoke
 Eringate, Bloordale Gardens, Old Burnhamthorpe, Markland Wood
M1E
 Scarborough
 Guildwood, Morningside, West Hill
M2E
 Not assigned
 Not assigned
M3E
 Not assigned
 Not assigned
M4E
 East Toronto
 The Beaches
M5E
 Downtown Toronto
 Berczy Park
M6E
 York
 Caledonia-Fairbanks
M7E
 Not assigned
 Not assigned
M8E
 Not assigned
 Not assigned
M9E
 Not assigned
 Not assigned
M1G
 Scarborough
 Woburn
M2G
 Not assigned
 Not assigned
M3G
 Not assigned
 Not assigned
M4G
 East York
 Leaside
M5G
 Downtown Toronto
 Central Bay Street
M6G
 Downtown Toronto
 Christie
M7G
 Not assigned
 Not assigned
M8G
 Not assigned
 Not assigned
M9G
 Not assigned
 Not assigned
M1H
 Scarborough
 Cedarbrae
M2H
 North York
 Hillcrest Village
M3H
 North York
 Bathurst Manor, Wilson Heights, Downsview North
M4H
 East York
 Thorncliffe Park
M5H
 Downtown Toronto
 Richmond, Adelaide, King
M6H
 West Toronto
 Dufferin, Dovercourt Village
M7H
 Not assigned
 Not assigned
M8H
 Not assigned
 Not assigned
M9H
 Not assigned
 Not assigned
M1J
 Scarborough
 Scarborough Village
M2J
 North York
 Fairview, Henry Farm, Oriole
M3J
 North York
 Northwood Park, York University
M4J
 East York
 East Toronto, Broadview North (Old East York)
M5J
 Downtown Toronto
 Harbourfront East, Union Station, Toronto Islands
M6J
 West Toronto
 Little Portugal, Trinity
M7J
 Not assigned
 Not assigned
M8J
 Not assigned
 Not assigned
M9J
 Not assigned
 Not assigned
M1K
 Scarborough
 Kennedy Park, Ionview, East Birchmount Park
M2K
 North York
 Bayview Village
M3K
 North York
 Downsview
M4K
 East Toronto
 The Danforth West, Riverdale
M5K
 Downtown Toronto
 Toronto Dominion Centre, Design Exchange
M6K
 West Toronto
 Brockton, Parkdale Village, Exhibition Place
M7K
 Not assigned
 Not assigned
M8K
 Not assigned
 Not assigned
M9K
 Not assigned
 Not assigned
M1L
 Scarborough
 Golden Mile, Clairlea, Oakridge
M2L
 North York
 York Mills, Silver Hills
M3L
 North York
 Downsview
M4L
 East Toronto
 India Bazaar, The Beaches West
M5L
 Downtown Toronto
 Commerce Court, Victoria Hotel
M6L
 North York
 North Park, Maple Leaf Park, Upwood Park
M7L
 Not assigned
 Not assigned
M8L
 Not assigned
 Not assigned
M9L
 North York
 Humber Summit
M1M
 Scarborough
 Cliffside, Cliffcrest, Scarborough Village West
M2M
 North York
 Willowdale, Newtonbrook
M3M
 North York
 Downsview
M4M
 East Toronto
 Studio District
M5M
 North York
 Bedford Park, Lawrence Manor East
M6M
 York
 Del Ray, Mount Dennis, Keelsdale and Silverthorn
M7M
 Not assigned
 Not assigned
M8M
 Not assigned
 Not assigned
M9M
 North York
 Humberlea, Emery
M1N
 Scarborough
 Birch Cliff, Cliffside West
M2N
 North York
 Willowdale, Willowdale East
M3N
 North York
 Downsview
M4N
 Central Toronto
 Lawrence Park
M5N
 Central Toronto
 Roselawn
M6N
 York
 Runnymede, The Junction North
M7N
 Not assigned
 Not assigned
M8N
 Not assigned
 Not assigned
M9N
 York
 Weston
M1P
 Scarborough
 Dorset Park, Wexford Heights, Scarborough Town Centre
M2P
 North York
 York Mills West
M3P
 Not assigned
 Not assigned
M4P
 Central Toronto
 Davisville North
M5P
 Central Toronto
 Forest Hill North & West, Forest Hill Road Park
M6P
 West Toronto
 High Park, The Junction South
M7P
 Not assigned
 Not assigned
M8P
 Not assigned
 Not assigned
M9P
 Etobicoke
 Westmount
M1R
 Scarborough
 Wexford, Maryvale
M2R
 North York
 Willowdale, Willowdale West
M3R
 Not assigned
 Not assigned
M4R
 Central Toronto
 North Toronto West,  Lawrence Park
M5R
 Central Toronto
 The Annex, North Midtown, Yorkville
M6R
 West Toronto
 Parkdale, Roncesvalles
M7R
 Mississauga
 Canada Post Gateway Processing Centre
M8R
 Not assigned
 Not assigned
M9R
 Etobicoke
 Kingsview Village, St. Phillips, Martin Grove Gardens, Richview Gardens
M1S
 Scarborough
 Agincourt
M2S
 Not assigned
 Not assigned
M3S
 Not assigned
 Not assigned
M4S
 Central Toronto
 Davisville
M5S
 Downtown Toronto
 University of Toronto, Harbord
M6S
 West Toronto
 Runnymede, Swansea
M7S
 Not assigned
 Not assigned
M8S
 Not assigned
 Not assigned
M9S
 Not assigned
 Not assigned
M1T
 Scarborough
 Clarks Corners, Tam O'Shanter, Sullivan
M2T
 Not assigned
 Not assigned
M3T
 Not assigned
 Not assigned
M4T
 Central Toronto
 Moore Park, Summerhill East
M5T
 Downtown Toronto
 Kensington Market, Chinatown, Grange Park
M6T
 Not assigned
 Not assigned
M7T
 Not assigned
 Not assigned
M8T
 Not assigned
 Not assigned
M9T
 Not assigned
 Not assigned
M1V
 Scarborough
 Milliken, Agincourt North, Steeles East, L'Amoreaux East
M2V
 Not assigned
 Not assigned
M3V
 Not assigned
 Not assigned
M4V
 Central Toronto
 Summerhill West, Rathnelly, South Hill, Forest Hill SE, Deer Park
M5V
 Downtown Toronto
 CN Tower, King and Spadina, Railway Lands, Harbourfront West, Bathurst Quay, South Niagara, Island airport
M6V
 Not assigned
 Not assigned
M7V
 Not assigned
 Not assigned
M8V
 Etobicoke
 New Toronto, Mimico South, Humber Bay Shores
M9V
 Etobicoke
 South Steeles, Silverstone, Humbergate, Jamestown, Mount Olive, Beaumond Heights, Thistletown, Albion Gardens
M1W
 Scarborough
 Steeles West, L'Amoreaux West
M2W
 Not assigned
 Not assigned
M3W
 Not assigned
 Not assigned
M4W
 Downtown Toronto
 Rosedale
M5W
 Downtown Toronto
 Stn A PO Boxes
M6W
 Not assigned
 Not assigned
M7W
 Not assigned
 Not assigned
M8W
 Etobicoke
 Alderwood, Long Branch
M9W
 Etobicoke
 Northwest, West Humber - Clairville
M1X
 Scarborough
 Upper Rouge
M2X
 Not assigned
 Not assigned
M3X
 Not assigned
 Not assigned
M4X
 Downtown Toronto
 St. James Town, Cabbagetown
M5X
 Downtown Toronto
 First Canadian Place, Underground city
M6X
 Not assigned
 Not assigned
M7X
 Not assigned
 Not assigned
M8X
 Etobicoke
 The Kingsway, Montgomery Road, Old Mill North
M9X
 Not assigned
 Not assigned
M1Y
 Not assigned
 Not assigned
M2Y
 Not assigned
 Not assigned
M3Y
 Not assigned
 Not assigned
M4Y
 Downtown Toronto
 Church and Wellesley
M5Y
 Not assigned
 Not assigned
M6Y
 Not assigned
 Not assigned
M7Y
 East Toronto
 Business reply mail Processing Centre, South Central Letter Processing Plant Toronto
M8Y
 Etobicoke
 Old Mill South, King's Mill Park, Sunnylea, Humber Bay, Mimico NE, The Queensway East, Royal York South East, Kingsway Park South East
M9Y
 Not assigned
 Not assigned
M1Z
 Not assigned
 Not assigned
M2Z
 Not assigned
 Not assigned
M3Z
 Not assigned
 Not assigned
M4Z
 Not assigned
 Not assigned
M5Z
 Not assigned
 Not assigned
M6Z
 Not assigned
 Not assigned
M7Z
 Not assigned
 Not assigned
M8Z
 Etobicoke
 Mimico NW, The Queensway West, South of Bloor, Kingsway Park South West, Royal York South West
M9Z
 Not assigned
 Not assigned

#### Loading Table to CSV File

In [169]:
csv_file = open('toronto.csv', 'wb')
csv_file.write(bytes(table1,encoding="ascii",errors="ignore"))

7590

#### Converting Table Values to Data Frame

In [170]:
col_names = ["col1", "col2", "col3"]
df = pd.read_csv('toronto.csv', names=col_names)
df.columns = ['Postalcode', 'Borough', 'Neighbourhood']
df

            Postalcode                         Borough    Neighbourhood
0                  M1A                             NaN              NaN
1         Not assigned                             NaN              NaN
2         Not assigned                             NaN              NaN
3                  M2A                             NaN              NaN
4         Not assigned                             NaN              NaN
5         Not assigned                             NaN              NaN
6                  M3A                             NaN              NaN
7           North York                             NaN              NaN
8            Parkwoods                             NaN              NaN
9                  M4A                             NaN              NaN
10          North York                             NaN              NaN
11    Victoria Village                             NaN              NaN
12                 M5A                             NaN              NaN
13    Downtown Toronto                             NaN              NaN
14         Regent Park                    Harbourfront              NaN
15                 M6A                             NaN              NaN
16          North York                             NaN              NaN
17      Lawrence Manor                Lawrence Heights              NaN
18                 M7A                             NaN              NaN
19    Downtown Toronto                             NaN              NaN
20        Queen's Park   Ontario Provincial Government              NaN
21                 M8A                             NaN              NaN
22        Not assigned                             NaN              NaN
23        Not assigned                             NaN              NaN
24                 M9A                             NaN              NaN
25           Etobicoke                             NaN              NaN
26    Islington Avenue           Humber Valley Village              NaN
27                 M1B                             NaN              NaN
28         Scarborough                             NaN              NaN
29             Malvern                           Rouge              NaN
..                 ...                             ...              ...
510                M9Y                             NaN              NaN
511       Not assigned                             NaN              NaN
512       Not assigned                             NaN              NaN
513                M1Z                             NaN              NaN
514       Not assigned                             NaN              NaN
515       Not assigned                             NaN              NaN
516                M2Z                             NaN              NaN
517       Not assigned                             NaN              NaN
518       Not assigned                             NaN              NaN
519                M3Z                             NaN              NaN
520       Not assigned                             NaN              NaN
521       Not assigned                             NaN              NaN
522                M4Z                             NaN              NaN
523       Not assigned                             NaN              NaN
524       Not assigned                             NaN              NaN
525                M5Z                             NaN              NaN
526       Not assigned                             NaN              NaN
527       Not assigned                             NaN              NaN
528                M6Z                             NaN              NaN
529       Not assigned                             NaN              NaN
530       Not assigned                             NaN              NaN
531                M7Z                             NaN              NaN
532       Not assigned                             NaN              NaN
533       Not assigned                             NaN              NaN
534                M8Z                             NaN              NaN
535          Etobicoke                             NaN              NaN
536          Mimico NW              The Queensway West   South of Bloor
537                M9Z                             NaN              NaN
538       Not assigned                             NaN              NaN
539       Not assigned                             NaN              NaN

[540 rows x 3 columns]

In [171]:
for n in range(539):
    df['Borough'][n]=df['Postalcode'][n+1]

df.head()

      Postalcode        Borough Neighbourhood
0            M1A   Not assigned           NaN
1   Not assigned   Not assigned           NaN
2   Not assigned            M2A           NaN
3            M2A   Not assigned           NaN
4   Not assigned   Not assigned           NaN

In [172]:
for i in range(539):
    df['Neighbourhood'][i]=df['Borough'][i+1]

df.head()

      Postalcode        Borough  Neighbourhood
0            M1A   Not assigned   Not assigned
1   Not assigned   Not assigned            M2A
2   Not assigned            M2A   Not assigned
3            M2A   Not assigned   Not assigned
4   Not assigned   Not assigned            M3A

In [173]:
df_2=df.iloc[::3]
df_2.reset_index
df_2.head()

   Postalcode            Borough      Neighbourhood
0         M1A       Not assigned       Not assigned
3         M2A       Not assigned       Not assigned
6         M3A         North York          Parkwoods
9         M4A         North York   Victoria Village
12        M5A   Downtown Toronto        Regent Park

#### Deleting 'Not Assigned' Values

In [174]:

x=df_2[df_2['Borough']==' Not assigned'].index
x
df_2.drop(x,inplace=True)
df_2.head(10)

   Postalcode            Borough      Neighbourhood
6         M3A         North York          Parkwoods
9         M4A         North York   Victoria Village
12        M5A   Downtown Toronto        Regent Park
15        M6A         North York     Lawrence Manor
18        M7A   Downtown Toronto       Queen's Park
24        M9A          Etobicoke   Islington Avenue
27        M1B        Scarborough            Malvern
33        M3B         North York          Don Mills
36        M4B          East York      Parkview Hill
39        M5B   Downtown Toronto    Garden District

In [176]:
df_3=df_2.reset_index()
df_n=df_3.drop(['index'], axis=1)
df_n.head()

#### Using .shape method to find the number of rows of DF

In [177]:
print('Rows of DF,Columns of DF',df_n.shape)

Rows of DF,Columns of DF (103, 3)

### Dataframe with LAT, LNG Values

In [157]:
!wget -q -O 'Toronto_location.csv' https://cocl.us/Geospatial_data

df_loc = pd.read_csv('Toronto_location.csv')
df_loc.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

#### Correcting the column names and checking the shape of the data frame

In [158]:
df_loc.columns=['Postalcode','Latitude','Longitude']
df_loc.shape

(103, 3)

#### Joining the data frames to get Lat & Long for the PCs

In [159]:
df_merg=pd.merge(df_n,df_loc,on='Postalcode')

In [165]:
df_merged=df_merg.drop(['index'], axis=1)
df_merged.head()

  Postalcode            Borough      Neighbourhood   Latitude  Longitude
0        M3A         North York          Parkwoods  43.753259 -79.329656
1        M4A         North York   Victoria Village  43.725882 -79.315572
2        M5A   Downtown Toronto        Regent Park  43.654260 -79.360636
3        M6A         North York     Lawrence Manor  43.718518 -79.464763
4        M7A   Downtown Toronto       Queen's Park  43.662301 -79.389494